<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="System.ValueTuple" version="4.5.0" targetFramework="net45" />
  <package id="Vanara.Core" version="3.2.1" targetFramework="net45" />
  <package id="Vanara.PInvoke.Shared" version="3.2.1" targetFramework="net45" />
  <package id="Vanara.PInvoke.WinINet" version="3.2.1" targetFramework="net45" />
</packages>